[Unit]
Description=EventStoreDB Server

[Service]
User=eventstore
Group=eventstore
Type=simple
ExecStart=/bin/bash -c 'echo $$$ > /run/eventstore/eventstore.pid; dotnet /opt/eventstore/bin/Release/EventStore.ClusterNode/netcoreapp3.1/linux-x64/EventStore.ClusterNode.dll'
PIDFile=/run/eventstore/eventstore.pid
Restart=always
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
