{
    "name": "artemis-5threads",
    "mq_type": "Artemis",
    "sender_threads": 5,
    "msg_count_per_thread": 1000000,
    "msg_size": 100,
    "max_send_msg_batch_size": 10,
    "receiver_threads": 5,
    "receive_msg_batch_size": 10,
    "broker_hosts": {{ groups['artemis']|map('extract', hostvars, 'ec2_private_ip_address')|list|to_json }},
    "mq": {
        "transacted": false
    }
}