{
    "name": "mongocapped-25threads",
    "mq_type": "MongoCapped",
    "sender_threads": 25,
    "msg_count_per_thread": 50000,
    "msg_size": 100,
    "max_send_msg_batch_size": 10,
    "receiver_threads": 25,
    "receive_msg_batch_size": 10,
    "broker_hosts": {{ groups['mongo']|map('extract', hostvars, 'ec2_private_ip_address')|list|to_json }}
    "mq": {
        "write_concern": "ack",
        "queue_size_in_bytes": 100000000,
        "batch_size": 1000000
    }
}
