{
    "name": "rocket-25-5threads",
    "mq_type": "Rocket",
    "sender_threads": 25,
    "msg_count_per_thread": 3000000,
    "msg_size": 100,
    "max_send_msg_batch_size": 10,
    "receiver_threads": 5,
    "receive_msg_batch_size": 10,
    "broker_hosts": [ "{{ hostvars[groups['rocketmq'][0]].ec2_private_ip_address }}" ],
    "mq": {}
}