#!/usr/bin/env bash

nohup sh /opt/rocketmq/distribution/target/apache-rocketmq/bin/mqbroker -c /opt/rocketmq/master.properties -n {{ rocketmq_name_server_private_ip }}:{{ rocketmq_name_server_port }} &
